
{% extends "template.html" %}

{% block message %}{{ messages }}{% endblock %}


{% block main %}
<div class="merch" style="background-image: url(/images/albums/1.jpg)">
	<div class="merch-title">First CD long long long title</div>
	<div class="dropdown">
			<div class="merch-description">
				<span>[ ! ]</span>
			</div>
				<div class="dropdown-content">
					<p>This is an item descrption it can be very long or very short depending</p>
				</div>
	</div>

	<div class="merch-price">$1.99<a href="">Add to Cart</a></div>
</div>
<div class="merch" style="background-image: url(/images/albums/2.jpg)">
	<div class="merch-title">Second CD long long title</div>
	<div class="merch-price">$1.99<a href="">Add to Cart</a></div>
	<div class="dropdown">
		<div class="merch-description">
			<span>[ ! ]</span>
		</div>
			<div class="dropdown-content">
				<p>This is an item descrption it can be very long or very short depending</p>
			</div>
	</div>
</div>
<div class="merch" style="background-image: url(/images/albums/3.jpg)">
	<div class="merch-title">Third CD long title</div>
	<div class="merch-price">$1.99<a href="">Add to Cart</a></div>
	<div class="dropdown">
		<div class="merch-description">
			<span>[ ! ]</span>
		</div>
			<div class="dropdown-content">
				<p>This is an item descrption it can be very long or very short depending</p>
			</div>
	</div>
</div>
<div class="merch" style="background-image: url(/images/albums/4.jpg)">
	<div class="merch-title">Fourth CD title</div>
	<div class="merch-price">$1.99<a href="">Add to Cart</a></div>
	<div class="dropdown">
		<div class="merch-description">
			<span>[ ! ]</span>
		</div>
			<div class="dropdown-content">
				<p>This is an item descrption it can be very long or very short depending</p>
			</div>
	</div>
</div>
<div class="merch">
	<div class="merch-title">First CD long long long title</div>
	<div class="merch-price"><a href="">Sold Out</a></div>
	<div class="dropdown">
		<div class="merch-description">
			<span>[ ! ]</span>
		</div>
			<div class="dropdown-content">
				<p>This is an item descrption it can be very long or very short depending</p>
			</div>
	</div>
</div>

<div class="merch" style="background-image: url(/images/albums/1.jpg)">
	<div class="merch-title">First CD long long long title</div>
	<div class="dropdown">
			<div class="merch-description">
				<span>[ ! ]</span>
			</div>
				<div class="dropdown-content">
					<p>This is an item descrption it can be very long or very short depending</p>
				</div>
	</div>

	<div class="merch-price">$1.99<a href="">Add to Cart</a></div>
</div>
<div class="merch" style="background-image: url(/images/albums/2.jpg)">
	<div class="merch-title">Second CD long long title</div>
	<div class="merch-price">$1.99<a href="">Add to Cart</a></div>
	<div class="dropdown">
		<div class="merch-description">
			<span>[ ! ]</span>
		</div>
			<div class="dropdown-content">
				<p>This is an item descrption it can be very long or very short depending</p>
			</div>
	</div>
</div>
<div class="merch" style="background-image: url(/images/albums/3.jpg)">
	<div class="merch-title">Third CD long title</div>
	<div class="merch-price">$1.99<a href="">Add to Cart</a></div>
	<div class="dropdown">
		<div class="merch-description">
			<span>[ ! ]</span>
		</div>
			<div class="dropdown-content">
				<p>This is an item descrption it can be very long or very short depending</p>
			</div>
	</div>
</div>
<div class="merch" style="background-image: url(/images/albums/4.jpg)">
	<div class="merch-title">Fourth CD title</div>
	<div class="merch-price">$1.99<a href="">Add to Cart</a></div>
	<div class="dropdown">
		<div class="merch-description">
			<span>[ ! ]</span>
		</div>
			<div class="dropdown-content">
				<p>This is an item descrption it can be very long or very short depending</p>
			</div>
	</div>
</div>
<div class="merch">
	<div class="merch-title">First CD long long long title</div>
	<div class="merch-price"><a href="">Sold Out</a></div>
	<div class="dropdown">
		<div class="merch-description">
			<span>[ ! ]</span>
		</div>
			<div class="dropdown-content">
				<p>This is an item descrption it can be very long or very short depending</p>
			</div>
	</div>
</div>

<div class="merch" style="background-image: url(/images/albums/1.jpg)">
	<div class="merch-title">First CD long long long title</div>
	<div class="dropdown">
			<div class="merch-description">
				<span>[ ! ]</span>
			</div>
				<div class="dropdown-content">
					<p>This is an item descrption it can be very long or very short depending</p>
				</div>
	</div>

	<div class="merch-price">$1.99<a href="">Add to Cart</a></div>
</div>
<div class="merch" style="background-image: url(/images/albums/2.jpg)">
	<div class="merch-title">Second CD long long title</div>
	<div class="merch-price">$1.99<a href="">Add to Cart</a></div>
	<div class="dropdown">
		<div class="merch-description">
			<span>[ ! ]</span>
		</div>
			<div class="dropdown-content">
				<p>This is an item descrption it can be very long or very short depending</p>
			</div>
	</div>
</div>
<div class="merch" style="background-image: url(/images/albums/3.jpg)">
	<div class="merch-title">Third CD long title</div>
	<div class="merch-price">$1.99<a href="">Add to Cart</a></div>
	<div class="dropdown">
		<div class="merch-description">
			<span>[ ! ]</span>
		</div>
			<div class="dropdown-content">
				<p>This is an item descrption it can be very long or very short depending</p>
			</div>
	</div>
</div>
<div class="merch" style="background-image: url(/images/albums/4.jpg)">
	<div class="merch-title">Fourth CD title</div>
	<div class="merch-price">$1.99<a href="">Add to Cart</a></div>
	<div class="dropdown">
		<div class="merch-description">
			<span>[ ! ]</span>
		</div>
			<div class="dropdown-content">
				<p>This is an item descrption it can be very long or very short depending</p>
			</div>
	</div>
</div>
<div class="merch">
	<div class="merch-title">First CD long long long title</div>
	<div class="merch-price"><a href="">Sold Out</a></div>
	<div class="dropdown">
		<div class="merch-description">
			<span>[ ! ]</span>
		</div>
			<div class="dropdown-content">
				<p>This is an item descrption it can be very long or very short depending</p>
			</div>
	</div>
</div>
{% endblock %}

{% block scripts %}

{% include "static/js/profile.js" %}

{% endblock %}
